#padre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    }

.dc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.dc2{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    display: none;
}

.ion-row{
    padding: 5px;
    margin: 5px;
}

.img{
    border-style: solid;
    border-color: #3880ff;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    height: 50%; 
    width: 50%;
}

.ioi{
    border-bottom: solid;
    border-color: #3880ff;
}

ion-card{
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50% !important;
    height: 50% !important;
    margin: 0 !important;
}