<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Administrar Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" icon="arrow-back-outline" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <ion-card>
        <ion-grid style="background-color: #3880ff; color: white; width: 700;">
          <ion-row>
            <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">Nombres</ion-col>
            <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">Apellidos</ion-col>
            <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">Usuarios</ion-col>
            <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">Tipo</ion-col>
            <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">Eliminar</ion-col>
            <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">Editar</ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngFor="let item of arrayUsuarios">
            <ion-row style="align-items: center;">
                <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">
                  <ion-label>{{item.nombre}}</ion-label>
                </ion-col>
                <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">
                  <ion-label>{{item.apellido}}</ion-label>
                </ion-col>
                <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">
                  <ion-label>{{item.usuario}}</ion-label>
                </ion-col>
                <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">
                  <ion-label>{{item.rol['tipoRoles']}}</ion-label>
                </ion-col>
                <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">
                  <ion-button  (click)="eliminarId(item.idPersonas)" fill="clear" shape="round">
                    <ion-icon color="danger" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col sizeXs="3" sizeMd="2" sizeLg="2" sizeSm="3">
                  <ion-button (click)="editarId(item)" fill="clear" shape="round">
                    <ion-icon color="warning" name="create-outline"></ion-icon>
                  </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
</ion-content>
