
#padre{
    height: 100%;
    width:100%;
    text-align:center;
    display: flex;

    #hijo{
        margin:auto auto;
        background: none;

        ion-button{
            box-shadow: 0 0 20px var(--ion-color-medium);
        }
    }
}


