<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Recuperar contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" icon="arrow-back-outline" color="light"></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div id="padre">
    <div id="hijo">
      <div *ngIf="!arrayUsuarioValidado">
        <ion-card>
          <ion-item>
            <ion-icon color="primary" name="text-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="usuario" type="text" placeholder="Ingrese usuario" name="user"></ion-input>
          </ion-item>
        </ion-card>
        <div style="text-align: center; display: flex; justify-content: center; text-align: center; align-items: center; margin-bottom: 25px">
          <ion-button (click)="buscarUsuario()" expand="block" style="width: 50%;" >
            Buscar
          </ion-button>
        </div>
      </div>
      <div *ngIf="arrayUsuarioValidado && !validarPassword">
        <ion-card>
          <ion-item>
            <ion-icon color="primary" name="call-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="celular" type="text" placeholder="Ingrese celular" name="celular"></ion-input>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-icon color="primary" name="at-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="correo" type="text" placeholder="Ingrese correo" name="correo"></ion-input>
          </ion-item>
        </ion-card>
        <div style="text-align: center; display: flex; justify-content: center; text-align: center; align-items: center; margin-bottom: 25px">
          <ion-button (click)="validarCorreoCelular()" expand="block" style="width: 50%;" >
            Validar
          </ion-button>
        </div>
      </div>
      <div *ngIf="validarPassword">
        <ion-card>
          <ion-item>
            <ion-icon color="primary" name="key-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password' " placeholder="Ingrese contraseña" name="password"></ion-input>
            <ion-icon *ngIf="password" color="medium" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
            <ion-icon *ngIf="!password" slot="end"></ion-icon>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-icon color="primary" name="key-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="password2" [type]="showPassword2 ? 'text' : 'password' " placeholder="Repetir contraseña" name="password"></ion-input>
            <ion-icon *ngIf="password2" color="medium" slot="end" [name]="passwordToggleIcon2" (click)="togglePassword2()"></ion-icon>
            <ion-icon *ngIf="!password2" slot="end"></ion-icon>
          </ion-item>
        </ion-card>
        <div style="text-align: center; display: flex; justify-content: center; text-align: center; align-items: center; margin-bottom: 25px">
          <ion-button (click)="cambiarPassword()" expand="block" style="width: 50%;" >
            Cambiar
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
