img{
    width: 100px;
    height: inherit;
}
.my-custom-menu {
    --width: 500px;
}

.contenedor1{
    height: 30px;
    display: flex;
}

ion-fab{
    padding-bottom: 25px;
    margin-bottom: 25px;
}

ion-card{
    text-align: center;
}


