<ion-header>
  <ion-toolbar color="medium">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="padre">
    <div>
      <ion-grid>
        <ion-row>
          <div id="imgD">
            <ion-img src="../../../assets/icon/ROYA APP.png" alt=""></ion-img>
          </div>
        </ion-row>
        <ion-row>
          <div class="labeld">
            <form>
              <div>
                <ion-card>
                    <ion-item>
                      <ion-icon color="primary" name="person-outline" slot="start"></ion-icon>
                      <ion-input [(ngModel)]="usuario" type="text" placeholder="Ingrese usuario" name="user"></ion-input>
                    </ion-item>
                  </ion-card>
                  <ion-card>
                    <ion-item>
                      <!-- <ion-icon color="primary" name="lock-closed-outline" slot="start"></ion-icon>
                      <ion-input type="password" placeholder="Ingrese Contraseña" [(ngModel)]="pass" name="password"></ion-input> -->
                      <ion-icon color="primary" name="lock-closed-outline" slot="start"></ion-icon>
                      <ion-input name="password" [type]="showPassword ? 'text' : 'password' " placeholder="Ingrese contraseña" [(ngModel)]="pass"></ion-input>
                      <ion-icon *ngIf="pass" color="medium" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
                      <ion-icon *ngIf="!pass" slot="end"></ion-icon>
                    </ion-item> 
                </ion-card>
              </div>
              <div class="labeld2">
                  <a  href="recuperar-password">Olvidé mi contraseña</a> 
              </div>
                <div class="labeld">
                  <ion-tab-button (click)="Inilogin()">
                    <ion-label>Ingresar</ion-label>
                  </ion-tab-button>
                </div>
            </form>
          </div>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>