
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Reportes Administrador</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio" icon="arrow-back-outline" color="light"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [scrollEvents]="false">
    <div>
      <ion-item>
        <ion-note slot="start">Usuarios: <ion-text color="danger">*</ion-text></ion-note><br>
        <ion-select value="{{verSeleccion}}" [(ngModel)]="verSeleccion" okText="Filtrar" (ionChange)="cargarRegistrosPorUsuarios(verSeleccion)">
          <ion-select-option *ngFor="let user of arrayUsuarios" value="{{user.idPersonas}}">
            {{ user.usuario }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-grid fixed>
      <ion-row>
        <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4">
          <ion-card style="position: relative; height:40vh; width:90vw">
            <div class="chart-container" style="position: relative; height:40vh; width:80vw">
              <canvas id="chart" height="300"></canvas>
            </div>
          </ion-card>
        </ion-col>
        
      <!-- </ion-row>
      <ion-row> -->
        <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4">
          <ion-card style="position: relative; height:40vh; width:90vw">
            <div class="chart-container" style="position: relative; height:40vh; width:80vw">
              <canvas id="chartCirculo" height="300"></canvas>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <div>
      <div>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
          <canvas id="chart" height="300"></canvas>
        </div>
      </div>
      <div>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
          <canvas id="chartCirculo" height="300"></canvas>
      </div>
      </div>
    </div> -->
  </ion-content>

